@import url(reset.css);

*{box-sizing: border-box;}

body{
	position: relative;
	min-height: 100vh;
	padding-bottom: 60px;
}


header{
	height: 60px;
	width: 100%;
	background-color: #FE1A19;
}

header p{
	color: white;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	padding: 20px;
	font-family: Arial;
}

footer{
	margin-top: 48px;
	height: 60px;
	width: 100%;
	background-color: #FE1A19;
	position: absolute;
	bottom: 0px;
}

footer p{
	color: white;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	padding: 20px;
	font-family: Arial;
}

.column{
	border: 5px solid #E5E000;
	border-radius: 30px;
	width: 326px;
	padding: 32px;
	margin-left: 40px;
	margin-top: 48px;
	font-size: 20px;
	display: inline-block;
}

.columnFirst{
	border: 5px solid #E5E000;
	border-radius: 30px;
	width: 326px;
	padding: 32px;
	position: absolute;
	top: 52px;
	left: 70px;
}

.columnSecond{
	border: 5px solid #E5E000;
	border-radius: 30px;
	width: 326px;
	padding: 32px;
	position: absolute;
	top: 52px;
	left: 520px;
}

.columnThird{
	border: 5px solid #E5E000;
	border-radius: 30px;
	width: 326px;
	padding: 32px;
	position: absolute;
	top: 52px;
	left: 970px;
}

p.title{
	color: black;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	font-family: Arial;
}

p.text{
	font-family: Times;
	margin-top: 40px;
	font-size: 20px;
	line-height: 23px;
}

p.lititle{
	margin-top: 24px;
}